{% if balance matches '/^\\d+$/'  %}
    <div class="user-coins-balance-block-content">
        <a href="{{ path('view.user_coins_transactions.page_1',{'user': user.id}) }}" class="user-coins-transactions">
            <span class="balance"> {{ balance }} </span>
        </a>
    </div>
{% endif %}